<ng-container *ngIf="orderComments?.length ; then haveData ; else noData">
</ng-container>
<ng-template #noData>
  <h3 class="text-center">No comments yet!</h3>
</ng-template>
<ng-template #haveData>
  <div class="card mb-4">
    <div class="card-body">

      <div class="mt-5">

        <div class="d-flex flex-row mb-3 justify-content-between" *ngFor="let comment of orderComments">
          <a href="javascript:void(0)">
              <img [src]="createCanvas('Joyia Motors')" *ngIf="(comment.user_name == 'System')">
              <my-img
              [src]="serverImagesPath.small+'store/'+comment.user_id+'_profile_img.jpg'"
              [alt]="comment.user_name+'\'s image'"
              [width]="'50px'"
              [height]="'50px'"
              [maxHeight]="'100%'"
              [borderRadius]="'0.75rem'"
              [class]="'img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall'"
              class="img"
              *ngIf="(comment.user_name != 'System')"
              ></my-img>
          </a>
          <div class="pl-3 flex-grow-1">
            <a href="javascript:void(0)">
              <p class="font-weight-medium mb-0 ">{{comment.user_name}}</p>
              <p class="text-muted mb-0 text-small">{{comment.created_at | date:'h:mm a dd.MM.yy'}}</p>
            </a>
            <p class="mt-3">
              {{comment.comment}}
              <br><img *ngIf="comment.attachment" src="{{serverImagesPath.small+comment.attachment}}">
            </p>
          </div>
        </div>



      </div>
    </div>
  </div>
</ng-template>
<!-- Start of add comment form -->
<form [formGroup]="commentForm" (ngSubmit)="addComment()" enctype="multipart/form-data">
  <div class="comment-contaiener">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Add a comment" formControlName="comment">

          <div class="input-group-append">
            <label class="btn btn-secondary" for="attachment-input" style="margin-bottom: 0px !important;">
              <i class="simple-icon-paper-clip ml-2"></i>
            </label>
            <input id="attachment-input" type="file" style="display: none;" accept="image/*" (change)="loadFile($event)" formControlName="attachment"/>
            <div id="selected-file-name"></div>
            <button class="btn btn-secondary" type="submit" [disabled]="!commentForm.valid">
              <span *ngIf="!beingAdded">
                <span class="d-inline-block">Add comment</span>
                <i class="simple-icon-arrow-right ml-2"></i>
              </span>
              <preloader *ngIf="beingAdded"></preloader>

            </button>
          </div>
        </div>

      <div
        *ngIf="commentForm.controls.comment.invalid && (commentForm.controls.comment.dirty || commentForm.controls.comment.touched)"
        class="errorMsg">

        <div *ngIf="commentForm.controls.comment.errors.required">
          Comment is required.
        </div>
        <div *ngIf="commentForm.controls.comment.errors.minlength">
          Comment must consist of at least 4 letters.
        </div>
      </div>
  </div>
  <!-- </div> -->
</form>
  <!-- End of Add comment form -->
