<div class="container" id="printReceipt">
    <div class="row">
        <div class="well col-1"></div>
        <div class="well col-11">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong>Joyia Motors</strong>
                        <br>
                        2135 Main Bazar
                        <br>
                        Mitha Tiwana, Khushab
                        <br>
                        <abbr title="Phone">P:</abbr> 0300-9858034
                        <br>
                        <abbr title="Name">N:</abbr> {{orderData?.client?.personal_info?.name || 'N/P'}} S/o {{orderData?.client?.personal_info?.father_name || 'N/P'}}
                        <br>
                        <abbr title="Cnic">NIC:</abbr> {{orderData?.client?.personal_info?.cnic || 'N/P'}}
                    </address>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right mt-4">
                    <p>
                        <em>Date: {{date | date}}</em>
                    </p>
                    <p>
                        <em>Order #: {{orderData?.order?.order_id}}</em>
                    </p>
                </div>
            </div>
            <div class="row ">

                <div class="text-center">
                    <h1>Receipt</h1>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Payments</th>
                            <th  style="text-align: center">#</th>
                            <th class=" text-center">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="orderData?.order">
                          <td><h4><em>Total Advance recieved </em></h4></td>
                          <td  style="text-align: center"> 1</td>
                          <td class=" text-center">Rs.{{formatMoney(orderData?.order?.advance_amount)}}</td>
                        </tr>
                        <tr *ngFor="let order of orderData?.installments;let i=index;">
                            <td>
                              <h4>

                                <em  *ngIf="order?.lastPaymentTime">Payments recieved till  {{order?.lastPaymentTime | date}}</em>
                                <em  *ngIf="!order?.lastPaymentTime">Installment recieved on {{order?.created_at | date}}</em>
                              </h4>
                            </td>
                            <td  style="text-align: center"> {{i+2}}</td>
                            <td class=" text-center">Rs.{{formatMoney(order?.amount)}}</td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td class="text-right" >
                            <p style="line-height:70px;">
                                <strong>Total: </strong>
                            </p>
                            <p style="line-height:70px;">
                                <strong>Paid: </strong>
                            </p></td>
                            <td class="text-center">
                            <p style="line-height:70px;">
                                <strong>Rs.{{formatMoney(orderData?.order?.total_amount)}}</strong>
                            </p>
                            <p style="line-height:70px;">
                                <strong>Rs.{{formatMoney(total)}}</strong>
                            </p></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td class="text-right"><h4><strong>Remaining: </strong></h4></td>
                            <td class="text-center text-danger"><h4><strong>Rs.{{formatMoney(orderData?.order?.total_amount - total)}}</strong></h4></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
