// Navbar
.responsive-background{
  background: white;
  padding-bottom: 20px;
  padding-top: 15px;
  display: none;
}
.input-group-text{
  background: #145388;
  color: white;
}

.select2-multiple{
  padding: 0px;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.apply{
  margin-top: auto;
}
