.badge-pill{
  letter-spacing: 3px;
}
.shake {
  background-color: #ff0732 !important;
  color: white;
  font-weight: bold;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.striped tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.text-center{
  text-align: center;
}
.active-item{
  border-left: 6px solid #237BB3;
  background-color: #f7f4db!important;
}