    <div class="card mb-4 d-none d-lg-block" *ngIf="haveData">
        <div class="card-body">
            <h5 class="card-title"><span>Other Orders from this client</span><a
                    class="btn-link float-right text-small pt-1" href="javascript:void(0)">View All</a>
            </h5>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Order Id</th>
                                        <th scope="col">Total Amount</th>
                                        <th scope="col">Total Remaining</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let order of otherOrdersData;index as i">
                                        <th scope="row">{{i+1}}</th>
                                        <td class="underline"><a href='javascript:void(0)' (click)="viewDetail(order._id)">
                                               Order_{{order?.unique_id}}
                                            </a>
                                        </td>
                                        <td>{{order?.total}}</td>
                                        <td>{{order?.paid}}</td>
                                    </tr>
                                </tbody>
                            </table>
              </div>
      </div>
