<div class="card-body">
                            <h5 class="mb-4">Guarantor {{second ? 2 : 1}}
                              <button type="button" class="btn btn-primary d-block mt-3 float-sm-right">-</button>
                            </h5>

                            <form [formGroup]="guarantorForm">
                                <div class="form-row">
                                  <!--User selected guarantors -->
                                  <div class="col-12 list" data-check-all="checkAll" *ngIf="selectedGuarantor" >
                                      <div class="card d-flex flex-row mb-3">
                                          <div class="d-flex flex-grow-1 min-width-zero">
                                              <div
                                                  class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                                  <a class="list-item-heading mb-0 truncate w-40 w-xs-100" href="Pages.Product.Detail.html">
                                                      {{selectedGuarantor.name}}
                                                  </a>
                                                  <p class="mb-0 text-muted text-small w-15 w-xs-100">{{selectedGuarantor.phone}}</p>
                                                  <p class="mb-0 text-muted text-small w-15 w-xs-100">{{selectedGuarantor.cnic}}</p>
                                                  <div class="w-15 w-xs-100">
                                                      <span class="badge badge-pill badge-secondary">View</span>
                                                  </div>
                                              </div>
                                              <label class="mb-1 align-self-center pr-4">

                                                  <span class="glyph-icon simple-icon-trash" (click)="remove(selectedGuarantor)">&nbsp;</span>
                                              </label>
                                          </div>
                                      </div>
                                    </div>
                                    <!--end of user selected guarantors -->
                                    <div class="form-group col-md-6">
                                        <label for="inputName">Name</label>
                                        <input type="text" formControlName="name" class="form-control"  placeholder="Name">
                                        <div *ngIf="guarantorForm.controls.name.invalid && (guarantorForm.controls.name.dirty || guarantorForm.controls.name.touched)" class="alert alert-danger">
                                            <div *ngIf="guarantorForm.controls.name.errors.required">
                                              Name is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPhone">Phone</label>
                                        <input type="text" formControlName="phone" class="form-control" (keypress)="inpPhone($event)" placeholder="Phone">
                                        <div *ngIf="guarantorForm.controls.phone.invalid && (guarantorForm.controls.phone.dirty || guarantorForm.controls.phone.touched)" class="alert alert-danger">
                                            <div *ngIf="guarantorForm.controls.phone.errors.required">
                                              Phone is required.
                                            </div>

                                            <div *ngIf="guarantorForm.controls.phone.errors.minlength">
                                              Phone must be at least 12 characters long.
                                            </div>
                                            <div *ngIf="guarantorForm.controls.phone.errors.maxlength">
                                              Phone must be not exceed 12 characters long.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Address</label>
                                    <input type="text" formControlName="address" class="form-control"
                                        placeholder="1234 Main St">
                                </div>
                                <div class="form-group">
                                    <label for="inputCNIC">CNIC</label>
                                    <input type="text" formControlName="cnic" class="form-control" (keypress)="inputCNIC($event)" placeholder="XXXXX-XXXXXXX-X">
                                    <div *ngIf="guarantorForm.controls.cnic.invalid && (guarantorForm.controls.cnic.dirty || guarantorForm.controls.cnic.touched)" class="alert alert-danger">
                                      <div *ngIf="guarantorForm.controls.cnic.errors.required">
                                        CNIC is required.
                                      </div>
                                      <div *ngIf="guarantorForm.controls.cnic.errors.minlength">
                                        CNIC must have atleast 13 numbers.
                                      </div>

                                    </div>
                                </div>

                            </form>
                        </div>
