              <!--Start of Product Images Section -->
                          <div class="row" >
                              <div class="col-12">

                                  <div class="mb-3">
                                      <h1>{{pageData.title}}</h1>
                                      <div class="text-zero top-right-button-container">
                                          <a href="#productForm" uiSref="store.productForm"
                                          class="btn btn-primary btn-lg top-right-button mr-1" *ngIf="(_permService.hasPermission(rsrcTitle , 'add' ) )" >
                                            ADD NEW
                                          </a>
                                          <div class="btn-group" *ngIf="singleSelected() && ( _permService.hasPermission('Products' , 'edit' ) || _permService.hasPermission('Products' , 'delete' ) )">
                                              <div class="btn btn-primary btn-lg pl-4 pr-0 check-button">
                                                  <label class="custom-control custom-checkbox mb-0 d-inline-block">
                                                      <input type="checkbox" class="custom-control-input" id="checkAll" (change)="checkAll($event)">
                                                      <span class="custom-control-label">&nbsp;</span>
                                                  </label>
                                              </div>
                                              <button type="button"
                                                  class="btn btn-lg btn-primary dropdown-toggle dropdown-toggle-split"
                                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  <span class="sr-only">Toggle Dropdown</span>
                                              </button>
                                              <div class="dropdown-menu dropdown-menu-right">
                                                  <a class="dropdown-item" href="javascript:void(0)" *ngIf="singleSelected() && (_permService.hasPermission('Products' , 'edit' ) )" (click)="editProduct()">Edit</a>
                                                  <a class="dropdown-item" href="javascript:void(0)" *ngIf="singleSelected() && (_permService.hasPermission('Products' , 'delete' ) )"  (click)="deleteProducts()">Delete</a>
                                              </div>
                                          </div>
                                      </div>
                                      <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                                          <ol class="breadcrumb pt-0">
                                            <li class="breadcrumb-item"  *ngFor = "let crumb of pageData.breadcrumbs;let l =last;" [ngClass]='l ? "active" : "" '>
                                                  <a href="javascript:void(0)">{{crumb.title}}</a>
                                              </li>

                                          </ol>
                                      </nav>

                                  </div>

                              <!--Handling no data -->
                                  <div class="mb-2" *ngIf="!selectedProduct && !noProducts">
                                      <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
                                          role="button" aria-expanded="true" aria-controls="displayOptions">
                                          Display Options
                                          <i class="simple-icon-arrow-down align-middle"></i>
                                      </a>
                                      <div class="collapse d-md-block" id="displayOptions">
                                          <span class="mr-3 mb-2 d-inline-block float-md-left">
                                              <a href="javascript:void(0)" class="mr-2 view-icon">
                                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                                                      <path class="view-icon-svg" d="M17.5,3H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />
                                                      <path class="view-icon-svg" d="M17.5,10H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />
                                                      <path class="view-icon-svg" d="M17.5,17H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />
                                                  </svg>
                                              </a>
                                              <a href="javascript:void(0)" class="mr-2 view-icon">
                                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                                                      <path class="view-icon-svg" d="M17.5,3H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z" />
                                                      <path class="view-icon-svg"
                                                          d="M3,2V3H1V2H3m.12-1H.88A.87.87,0,0,0,0,1.88V3.12A.87.87,0,0,0,.88,4H3.12A.87.87,0,0,0,4,3.12V1.88A.87.87,0,0,0,3.12,1Z" />
                                                      <path class="view-icon-svg"
                                                          d="M3,9v1H1V9H3m.12-1H.88A.87.87,0,0,0,0,8.88v1.24A.87.87,0,0,0,.88,11H3.12A.87.87,0,0,0,4,10.12V8.88A.87.87,0,0,0,3.12,8Z" />
                                                      <path class="view-icon-svg"
                                                          d="M3,16v1H1V16H3m.12-1H.88a.87.87,0,0,0-.88.88v1.24A.87.87,0,0,0,.88,18H3.12A.87.87,0,0,0,4,17.12V15.88A.87.87,0,0,0,3.12,15Z" />
                                                      <path class="view-icon-svg"
                                                          d="M17.5,10H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z" />
                                                      <path class="view-icon-svg"
                                                          d="M17.5,17H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z" /></svg>
                                              </a>
                                              <a href="javascript:void(0)" class="mr-2 view-icon active">
                                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                                                      <path class="view-icon-svg"
                                                          d="M7,2V8H1V2H7m.12-1H.88A.87.87,0,0,0,0,1.88V8.12A.87.87,0,0,0,.88,9H7.12A.87.87,0,0,0,8,8.12V1.88A.87.87,0,0,0,7.12,1Z" />
                                                      <path class="view-icon-svg"
                                                          d="M17,2V8H11V2h6m.12-1H10.88a.87.87,0,0,0-.88.88V8.12a.87.87,0,0,0,.88.88h6.24A.87.87,0,0,0,18,8.12V1.88A.87.87,0,0,0,17.12,1Z" />
                                                      <path class="view-icon-svg"
                                                          d="M7,12v6H1V12H7m.12-1H.88a.87.87,0,0,0-.88.88v6.24A.87.87,0,0,0,.88,19H7.12A.87.87,0,0,0,8,18.12V11.88A.87.87,0,0,0,7.12,11Z" />
                                                      <path class="view-icon-svg"
                                                          d="M17,12v6H11V12h6m.12-1H10.88a.87.87,0,0,0-.88.88v6.24a.87.87,0,0,0,.88.88h6.24a.87.87,0,0,0,.88-.88V11.88a.87.87,0,0,0-.88-.88Z" />
                                                  </svg>
                                              </a>
                                          </span>
                                          <div class="d-block d-md-inline-block">
                                              <div class="btn-group float-md-left mr-1 mb-1">
                                                  <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="sortBy">
                                                      Order By Creation Date (Asc)
                                                  </button>
                                                  <div class="dropdown-menu">
                                                      <a class="dropdown-item filter" href="javascript:void(0)" >Creation Date({{filters.sortdirection===1 ? 'Asc' : 'Desc' }})</a>
                                                      <a class="dropdown-item filter" href="javascript:void(0)">Another action</a>
                                                  </div>
                                              </div>
                                              <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                                                  <input id="inputSearchProducts" placeholder="Search..." #productsSearch>
                                              </div>
                                              <div class="spinner" id="searchLoader" *ngIf="beingSearched">
                                                <div class="bounce1"></div>
                                                <div class="bounce2"></div>
                                                <div class="bounce3"></div>
                                              </div>

                                              <span id="searchText"></span>
                                          </div>
                                          <div class="float-md-right">
                                              <span class="text-muted text-small">Displaying {{filters.skip+1}}-{{filters.skip+filters.limit}} of {{totalProducts}} items </span>
                                              <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="records">
                                                  10
                                              </button>
                                              <div class="dropdown-menu dropdown-menu-right">
                                                  <a class="dropdown-item" href="javascript:void(0)">10</a>
                                                  <a class="dropdown-item active" href="javascript:void(0)">20</a>
                                                  <a class="dropdown-item" href="javascript:void(0)">30</a>
                                                  <a class="dropdown-item" href="javascript:void(0)">50</a>
                                                  <a class="dropdown-item" href="javascript:void(0)">100</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="separator mb-5"></div>
                                    <div style="text-align:center;" class="noProducts" *ngIf="noProducts" >
                                        <img src="assets/img/NoProducts7.png" alt="No products" class="">
                                        <div><h1>No products yet</h1></div>
                                    </div>
                              </div>
                          </div>
                          <div class="row list disable-text-selection"  data-check-all="checkAll" *ngIf="!selectedProduct && !noProducts">
                              <div *ngFor="let product of productList;" class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                                  <div class="card">
                                      <div class="position-relative">
                                          <a uiSref="store.productdetail" [uiParams]="{id:product._id}" >
                                            <!-- <img class=""
                                                  src="{{}}"
                                                  alt="Card image cap"> -->
                                            <my-img
                                               [src]="serverImagesPath+product?.image[0]"
                                               [alt]="'Card image cap'"
                                               [width]="'97%'"
                                               [height]="'170px'"
                                               [maxHeight]="'170px'"
                                               [borderRadius]="'0.75rem'"
                                               [class]="'card-img-top'"></my-img>
                                          </a>
                                          <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left">NEW</span>
                                          <span class="badge badge-pill badge-secondary position-absolute badge-top-left-2">
                                            <span class="container-tooltip"  *ngFor="let cat of product.categories;">
                                              <span tooltip="{{cat.name}}" placement="top" delay="500" >
                                                <i  class="{{cat.icon}}"></i>
                                              </span>
                                            </span>
                                          </span>

                                      </div>
                                      <div class="card-body">
                                          <div class="row">
                                              <div class="col-2">
                                                  <div class="custom-control custom-checkbox pl-1">
                                                      <label class="custom-control custom-checkbox  mb-0">
                                                          <input type="checkbox" class="custom-control-input productInp" id="{{product._id}}">
                                                          <span class="custom-control-label">&nbsp;</span>
                                                      </label>
                                                  </div>
                                              </div>
                                              <div class="col-6">
                                                  <a href="Pages.Product.Detail.html">
                                                      <p class="list-item-heading mb-4 pt-1 textWrap">
                                                        <span tooltip="{{product.product_display_name}}" placement="top" delay="500" >
                                                          {{product.product_display_name}}
                                                        </span>
                                                      </p>
                                                  </a>
                                                  <footer>
                                                      <p class="text-muted text-small mb-0 font-weight-light">{{product.updated_at | date:'M.d.yy'}}</p>
                                                  </footer>
                                              </div>
                                              <div class="col-4">
                                                <span class="font-weight-bold">{{product.price ? product.price.sale_price : 0 }}</span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <!--Handling preloader until data comes -->
                              <div *ngIf="preloader" class="row">
                              <div  class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4" *ngFor="let ind of [1,2,3,4,5,6,7,8];">
                                  <div class="card">
                                      <div class="position-relative  img_main">
                                        <ngx-skeleton-loader
                                          count="1"
                                          appearance="circle"
                                          [theme]="{
                                            width: '97%',
                                            'border-radius': '0.75rem',
                                            height: '188px',
                                            'max-height': '210px'
                                          }"
                                        >
                                        </ngx-skeleton-loader>

                                      </div>
                                      <div class="card-body pb-13">
                                          <div class="row">
                                              <div class="col-2">
                                                  <div class="custom-control custom-checkbox pl-1">
                                                      <label class="custom-control custom-checkbox  mb-0">
                                                          <input type="checkbox" class="custom-control-input">
                                                          <span class="custom-control-label">&nbsp;</span>
                                                      </label>
                                                  </div>
                                              </div>
                                              <div class="col-6">
                                                  <a href="Pages.Product.Detail.html">
                                                      <p class="list-item-heading pt-1 textWrap">
                                                        <span tooltip="" placement="top" delay="500" >
                                                          <ngx-skeleton-loader
                                                            [theme]="{
                                                              width: '100%',
                                                              'border-radius': '0',
                                                              height: '15px'
                                                            }"
                                                            >
                                                          </ngx-skeleton-loader>
                                                        </span>
                                                      </p>
                                                  </a>
                                                  <footer>
                                                      <p class="text-muted text-small font-weight-light preloader">
                                                        <ngx-skeleton-loader
                                                          [theme]="{
                                                            width: '100%',
                                                            'border-radius': '0',
                                                            height: '15px'
                                                          }"
                                                          >
                                                        </ngx-skeleton-loader>
                                                      </p>
                                                  </footer>
                                              </div>
                                              <div class="col-4">
                                                <span class="font-weight-bold">
                                                  <ngx-skeleton-loader
                                                    [theme]="{
                                                      width: '100%',
                                                      'border-radius': '0',
                                                      height: '15px'
                                                    }"
                                                    >
                                                  </ngx-skeleton-loader>
                                                </span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              </div>
                              <!--End Handling preloader until data comes -->



                              <div class="col-12">
                                  <nav class="mt-4 mb-3">
                                      <ul class="pagination justify-content-center mb-0">
                                          <li class="page-item ">
                                              <a class="page-link first" href="javascript:void(0)" (click)='change(1)'>
                                                  <i class="simple-icon-control-start"></i>
                                              </a>
                                          </li>
                                          <li class="page-item ">
                                              <a class="page-link prev" href="javascript:void(0)" (click)='change($any(active)-1)'>
                                                  <i class="simple-icon-arrow-left" ></i>
                                              </a>
                                          </li>
                                          <li class="page-item "  *ngFor ="let page of pagination;">
                                              <a class="page-link " [ngClass]="page==active ? 'ActiveLink': ''" href="javascript:void(0)" (click)='change(page)'>{{page}}</a>
                                          </li>
                                          <li class="page-item ">
                                              <a class="page-link next" href="javascript:void(0)" aria-label="Next" (click)='change($any(active)+1)'>
                                                  <i class="simple-icon-arrow-right"></i>
                                              </a>
                                          </li>
                                          <li class="page-item ">
                                              <a class="page-link last" href="javascript:void(0)" (click)='change(pagination[pagination.length-1])'>
                                                  <i class="simple-icon-control-end"></i>
                                              </a>
                                          </li>
                                      </ul>
                                  </nav>
                              </div>
                          </div>
              <!--End of Main Menu -->
