.active{
  font-weight: bold;
  }
.active a{
  color: blue !important;

}
.product_detail .badge{
  cursor: pointer;
}
.noPayments{
  width: 100%;

}
.noPaymentsImg{
  height: 340px;
}
.deleted{
  color: grey;
  text-decoration: line-through;
}
.btnWaiverLoader{
  width: 8px;
}
.badge{
  text-transform: capitalize;
}