c.select2-multiple{
  padding: 0px;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.select2-selection__clear{
  margin-right: 12px !important;
}

.circle_spinner{
  width: 24px;
  margin-right: 9px;
}
.btn-multiple-state .icon{
  visibility: visible !important;
}
.tableInfo{
  font-weight: bold;
}
.glyphicon {
    font-size: 24px;
}
.filter-button{
  padding: 2px !important;
  padding-left: 16px !important;
  cursor: pointer;
}
.underline{
  text-decoration: underline;
}
.checked{
  box-shadow: 0 3px 30px rgb(0 0 0 / 10%), 0 3px 20px rgb(0 0 0 / 10%);
}
.marked{
  border-left: 3px solid darkred;
}
.btn-update-marked{
  background: gainsboro;
  border-radius: 1px;
  position: fixed;
  right: 59px;
  bottom: 20px;
  font-weight: bold;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: .05rem;
  padding: 0.75rem 2.6rem 0.6rem 2.6rem;
}