@import 'assets/font/iconsmind-s/css/iconsminds.css';
@import 'assets/font/simple-line-icons/css/simple-line-icons.css';
@import 'assets/css/vendor/dataTables.bootstrap4.min.css';
@import 'assets/css/vendor/datatables.responsive.bootstrap4.min.css';
@import 'assets/css/vendor/bootstrap.min.css';
@import 'assets/css/vendor/component-custom-switch.min.css';
@import 'assets/css/vendor/perfect-scrollbar.css';
@import 'assets/css/main.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
// NOTIFIER: CORE STYLES

// Calendar
@import "../node_modules/angular-calendar/css/angular-calendar.css";

// Container

.notifier {

	&__container {

		* {
			box-sizing: border-box;
		}

		&-list {
			margin: {
				top: 0;
				bottom: 0;
			}
			padding: {
				left: 0;
			}
			list-style-type: none;
		}

	}

	&__notification {
		display: block;
		position: fixed; // Overlay
		visibility: hidden; // Notifications are hidden by default, and get shown (or animated in) dynamically by the Angular component
		z-index: 10000; // Pretty much random ...

		// This attribute forces this element to be rendered on a new layer, by the GPU, in order to improve its performance (#perfmatters)
		will-change: transform;

		// This attribute improves the overall scrolling performance for fixed position elements, such as this one (#perfmatters)
		// See <https://benfrain.com/improving-css-performance-fixed-position-elements/>
		backface-visibility: hidden;

	}

}
// NOTIFIER: MATERIAL THEME
//
// This material theme tries its best to look as material-design'ish as possible - round edges, shadows, and small animations.
// And, of course, thanks to #Google for creating and sharing such an awesome design language!
// I highly encourage everyone to read into the Material Design specs: <https://material.google.com/>

$notifier-shadow-color: rgba(0, 0, 0, .2) !default;

.notifier__notification--material {
	border-radius: 3px;
	box-shadow: 0 1px 3px $notifier-shadow-color;
	cursor: default; // Default cursor, even when hovering over text
	padding: {
		top: 11px;
		right: 26px;
		bottom: 10px;
		left: 26px;
	}

	.notifier__notification {

		&-message {
			display: inline-block;
			margin: { // Reset paragraph default styles
				top: 0;
				bottom: 0;
			}
			vertical-align: top;
			line-height: 32px;
			font-size: 15px;
		}

		&-button {
			display: inline-block;
			transition: opacity .2s ease;
			opacity: .5;
			margin: {
				right: -10px;
				left: 10px;
			};
			outline: none;
			border: none;
			background: none;
			cursor: pointer; // Make it obvious that the "button" (or, more honestly, icon) is clickable (#UX)
			padding: 6px;
			width: 32px;
			height: 32px;
			vertical-align: top;

			&:hover,
			&:focus {
				opacity: 1; // Make me "feel" the clickability with a transparency change (#UX)
			}

			&:active {
				transform: scale(.82); // Make me "feel" the click by a push back (#UX)
				opacity: 1;
			}

		}

	}

}
// NOTIFIER: SUCCESS TYPE STYLES

$notifier-success-background-color: #5CB85C !default;
$notifier-success-font-color: #FFF !default;
$notifier-success-icon-color: #FFF !default;

.notifier__notification--success {
	background-color: $notifier-success-background-color;
	color: $notifier-success-font-color;

	.notifier__notification-button-icon { // 16x16 fixed size
		fill: $notifier-success-icon-color;
	}

}
// NOTIFIER: ERROR TYPE STYLES

$notifier-error-background-color: #D9534F !default;
$notifier-error-font-color: #FFF !default;
$notifier-error-icon-color: #FFF !default;

.notifier__notification--error {
	background-color: $notifier-error-background-color;
	color: $notifier-error-font-color;

	.notifier__notification-button-icon { // 16x16 fixed size
		fill: $notifier-error-icon-color;
	}

}
// NOTIFIER: ERROR TYPE STYLES

$notifier-error-background-color: #D9534F !default;
$notifier-error-font-color: #FFF !default;
$notifier-error-icon-color: #FFF !default;

.notifier__notification--error {
	background-color: $notifier-error-background-color;
	color: $notifier-error-font-color;

	.notifier__notification-button-icon { // 16x16 fixed size
		fill: $notifier-error-icon-color;
	}

}

// NOTIFIER: DEFAULT TYPE STYLES

$notifier-default-background-color: #444 !default;
$notifier-default-font-color: #FFF !default;
$notifier-default-icon-color: #FFF !default;

.notifier__notification--default {
	background-color: $notifier-default-background-color;
	color: $notifier-default-font-color;

	.notifier__notification-button-icon { // 16x16 fixed size
		fill: $notifier-default-icon-color;
	}

}

// NOTIFIER: WARNING TYPE STYLES

$notifier-warning-background-color: #F0AD4E !default;
$notifier-warning-font-color: #FFF !default;
$notifier-warning-icon-color: #FFF !default;

.notifier__notification--warning {
	background-color: $notifier-warning-background-color;
	color: $notifier-warning-font-color;

	.notifier__notification-button-icon { // 16x16 fixed size
		fill: $notifier-warning-icon-color;
	}

}
// Select 2 styling
.select2-selection__rendered {
	line-height: 32px !important;
}

.select2-selection {
	height: 34px !important;
	border: 0px !important;
}

//Print
// @media print {
// 	 * { display: none; }
// 	.isPrinting app-print-layout { display: block; }
// }
@media print {
	:host  {
	  display: none;

	}
	footer {
	  display: none;
	}
}
.bshadow{
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 0px 1px #22220F);
  opacity: .9;
}
$small: 300px;
$medium: 800px;
$xlarge: 1920px;

@media screen and (max-width: $medium) {
	.search-icon-common{
		display: none;
	}
}
