<div class="row">
    <div class="col-6 mb-4">
        <div class="card dashboard-small-chart">
            <div class="card-body">
                <p class="lead color-theme-1 mb-1 value"></p>
                <p class="mb-0 label text-small"></p>
                <div class="chart">
                    <canvas id="smallChart1"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 mb-4">
        <div class="card dashboard-small-chart">
            <div class="card-body">
                <p class="lead color-theme-1 mb-1 value"></p>
                <p class="mb-0 label text-small"></p>
                <div class="chart">
                    <canvas id="smallChart2"></canvas>
                </div>
            </div>

        </div>
    </div>
    <div class="col-6 mb-4">
        <div class="card dashboard-small-chart">
            <div class="card-body">
                <p class="lead color-theme-1 mb-1 value"></p>
                <p class="mb-0 label text-small"></p>
                <div class="chart">
                    <canvas id="smallChart3"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 mb-4">
        <div class="card dashboard-small-chart">
            <div class="card-body">
                <p class="lead color-theme-1 mb-1 value"></p>
                <p class="mb-0 label text-small"></p>
                <div class="chart">
                    <canvas id="smallChart4"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card dashboard-top-rated">
    <div class="position-absolute card-top-buttons">
        <button class="btn btn-header-light icon-button" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="simple-icon-refresh"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right mt-3">
            <a class="dropdown-item" href="javascript:void(0)">Top Sold Items</a>
            <a class="dropdown-item" href="javascript:void(0)">Top Commented Items</a>
        </div>
    </div>

    <div class="card-body">
        <h5 class="card-title">Top Rated Items</h5>

        <div class="glide best-rated-items">
            <div class="glide__track" data-glide-el="track">
                <div class="glide__slides">
                    <div class="glide__slide">
                        <img src="img/carousel-1.jpg" alt="Cheesecake" class="mb-4">
                        <h6 class="mb-1"><span class="mr-2">1.</span>Cheesecake</h6>
                        <select class="rating" data-current-rating="5" data-readonly="true">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <p class="text-small text-muted mb-0  d-inline-block">(48)</p>
                    </div>
                    <div class="glide__slide">
                        <img src="img/carousel-2.jpg" alt="Chocolate Cake" class="mb-4">
                        <h6 class="mb-1"><span class="mr-2">2.</span>Chocolate Cake</h6>
                        <select class="rating" data-current-rating="5" data-readonly="true">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <p class="text-small text-muted mb-0  d-inline-block">(48)</p>
                    </div>
                    <div class="glide__slide">
                        <img src="img/carousel-3.jpg" alt="Cremeschnitte" class="mb-4">
                        <h6 class="mb-1"><span class="mr-2">3.</span>Cremeschnitte</h6>
                        <select class="rating" data-current-rating="5" data-readonly="true">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <p class="text-small text-muted mb-0  d-inline-block">(48)</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
